@model List<Book>

<h1>Livros</h1>

<div class="text-end">
    <a asp-action="New" class="btn btn-primary">Adicionar livro</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título do livro</th>
        <th>Autor</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Book item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>
                @foreach (Author author in @item.Authors)
                {
                    <a asp-controller="Authors" asp-action="Show" asp-route-id="@author.Id">@author.FullName</a>
                }
            </td>
            <td><a asp-action="Show" asp-route-id="@item.Id">Visualizar</a></td>
        </tr>
    }
    </tbody>
</table>
